@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --primary-color:#147efb;
    --background-color:#f9f9f9;
    --navbar-link-color:#2d2e32;
    --html-logo:#e44c25;
    --webflow-logo:#4353fe;
    --js-logo:#d3b72f;
    --react-logo:#06cff4;
    --shopify-logo:#8fb744;
    --para-color:#767676;
}

body{
  cursor: url('/public/cursor.png'),auto;
}

a{
  cursor: url('/public/tap.png'),auto;
}

p{
    color: var(--para-color);
}
